.__checklist {
}
.__checklist > label {
	position: relative;
	display: block;
	font-size: 1.5rem;
	margin: 0.75rem 2rem 0 0;
	line-height: 1.2rem;
	user-select: none;
}
.__checklist > label > input {
	position: relative;
	cursor: pointer;
	top: 0.15rem;
	border: 1px solid #593196;
	border-radius: 0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 0.75rem 0 0;
	appearance: none;
	transition: all 150ms ease-in;
	box-shadow: inset 0 0 1px #33175e;
}
.__checklist > label > input:checked {
	background: #a991d4;
}


