.layout-font {
    color: brown;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
}

.rc-slider-track {
    background-color: #593196;
}


.rc-slider-dot-active {  
    border-color: green;
    border: solid 2px #593196;
}

.rc-slider-handle {
    background-color: #593196;
    border-color: #593196;
    size: 10px;
}

.rc-slider-handle:hover {
    border-color: #a991d4;
}

.rc-slider-handle-active:active {
    border-color: #593196;
}

.rc-slider-disabled{
    background-color: red;
}

  