.app-header {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid lightgrey;
}

.app-column {
    margin-left: 20px;
}

.app-block {
    margin-top: 10px;
}

.normal-text {
    font-size: large;
}